body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #fef9ff;
    color: #2f242c;


}

header,
footer {
    background-color: #ceff1a;
}
blockquote {
    background-color: #f46e94;
    border-color: #ceff1a;
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
}

.site-title {
    color: #f46e94;
}

#my-image{
    width: fit-content;
    position: relative;
    box-shadow: 0 0 2px 1px black;
}
 ul {
    list-style-type: square;
}
div li:nth-child(odd) {
    background-color: #a5d8ff;
}
nav a {
    padding: 5px 5px;
    background-color: #a5d8ff;
    border-style: dotted;
    text-decoration: none;
    color: #f46e94;
    float: right;
   
}
nav ul {
    list-style-type: none;
    
}
a:hover {
    color: #ceff1a;
    background-color: #f46e94;
}

a:focus {
    color: #ceff1a;
    background-color: #fef9ff;
}