body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

header,
footer {
    background-color: red;
}

.site-title {
    color: khaki;
}

#my-image{
    width: fit-content;
    position: relative;
    box-shadow: 0 0 2px 1px black;
}
 ul {
    list-style-type: square;
}
div li:nth-child(odd) {
    background-color: lightyellow;
}
nav a {
    padding: 5px 5px;
    background-color: honeydew;
    border-style: dotted;
    text-decoration: none;
    color: hotpink;
    float: right;
   
}
nav ul {
    list-style-type: none;
    
}
a:hover {
    color: magenta;
    background-color: greenyellow;
}
