body {
    color: black;
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: medium;
    max-width: 1000px;

}
.navigation li {
    display: inline;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    border-right: black solid;
    text-align: center;
    
}

.navigation{
    text-transform: uppercase;
    display: inline-block;
    color: black;
    
    float: inline-start;

}
.wrapper {
    width: 100%;
    margin: auto;
    background-color: #d8e8e6;
}

.heading {
    position: relative;
    max-width: auto;
    height: auto;
    display: inline-block;
}

.title-text {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}

.title-text:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#head-img {
    display: block;
    max-width: 100%;
    height: auto;

}

#title {
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navigation {
    text-transform: uppercase;
    text-align: justify;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;

}

.navigation a:link {
    text-decoration: none;
    color: black;
    display: inline-block;

}

.img {
    float: left;
    padding: 2%;
    height: auto;
    max-width: 25%;
    display: block;
}

.forms {
    max-width: 1000px;
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
}

#form {
    position: relative;
    padding: 2%;
    margin: 2%;
    border: black solid;
    display: inline-block;
    max-width: 900px;
}

textarea {
    position: relative;
    display: block;
    min-width: 900px;
    height: auto;
    padding: 2%;
    margin: 0px 0;
    box-sizing: border-box;
    resize: none;
}

input[type=text] {
    width: 900px;
    padding: 2%;
    margin: 0px 0;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #d8e8e6;
    border: black solid;
    color: black;
    padding: 1%;
    text-transform: uppercase;
    margin: 1% 0;

}

p {
    margin: auto;
    color: black;
    padding: 2%;
}

h2 {
    margin: auto;
    text-decoration: none;
    padding: 2%;
}

h3 {
    margin: auto;
    text-decoration: none;
    padding: 2%;
}



footer {
    padding: auto;
    display: inline-block;
    background-color: #d8e8e6;
    width: 100%;
    height: auto;
    text-align: right;
}

.clearfix ::after {
    content: "";
    display: block;
    clear: left;
}