/*CSS Reset Code */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Start of Website CSS*/
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;

}

a:link {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 2rem;
}

h2 {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1rem;
}

h4 {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h5 {
    color: black;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1rem;
    border: 0px solid #c78c06;
    /*Orange*/
    border-bottom-width: 2px;
    background-color: transparent;
}

p {
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

header {
    background-color: #222;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

header a:link {
    color: #c78c06;
    line-height: 2rem;
}

footer {
    background-color: #222;
    color: #c78c06;
    padding: 1rem;
}

#search {
    display: flex;
}

button {
    background-color: #222;
    /*Grey*/
    color: #c78c06;
    /*Orange*/
    border: #c78c06 solid 1px;
    /*Orange*/
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.logo {
    display: flex;
}

.button1 {
    background-color: #c78c06;
    /* Orange*/
    color: #222;
    border: none;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    ;
}

.button2 {
    background-color: #222;
    border: #c78c06 1px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
}

.button1 a:link {
    text-decoration: none;
    color: #222;
}

.button2 a:link {
    text-decoration: none;
    color: white;
}

.buttona,
.buttonb,
.buttonc,
.buttond,
.buttone {
    background-color: #222;
    /*Grey*/
    color: white;
    border: none;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    ;
}

.buttona a:link,
.buttonb a:link,
.buttonc a:link,
.buttond a:link,
.buttone a:link {
    text-decoration: none;
    color: white;
}

.about {
    background-color: #ffe6ac;
    /*Yellow*/
    padding: 0.5rem;
}

.services,
.team,
.vision,
.contact,
.hours {
    padding: 0.5rem;
}

.digital,
.marketing,
.video,
.web,
.print {
    background-color: #ffe6ac;
    /*Yellow*/
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: auto;
}

.johntxt {
    background-color: #ffe6ac;
    margin-bottom: 0.5rem;
    /*Yellow*/
}

.bobtxt {
    background-color: #ffe6ac;

    margin-bottom: 0.5rem;
    /*Yellow*/
}

.john,
.bob {
    background-color: #ffe6ac;
}

.johntxt,
.bobtxt,
.digitaltxt,
.marketingtxt,
.videotxt,
.webtxt,
.printtxt {
    padding: 0.5rem;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px #222 solid;

}

th {
    background-color: #ffe6ac;
    padding: 10px;
    text-align: center;
}

td {
    background-color: white;
    padding: 10px;
    text-align: left;
}

iframe {
    width: 100%;

}

.location {
    margin: 10px;
}

@media screen and (max-width:760px) {
    .orange {
        background-color: #c78c06;
        color: #222;
    }

    .orange a:link {
        color: #222;
    }
}

@media screen and (min-width:760px){
    body {
        margin: 0 auto;
    }

    .wrapper {
        max-width: 100%;
        width: 1200px;
        height: auto;
        display: flex;
        margin: 0 auto;
    }



    header {
        width: auto;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    header a:link {
        padding: 10px;
        display: block;
    }

    #main {
        width: 100%;
        height: auto;
        position: relative;
    }

    .orange {
        display: flex;
        height: fit-content;
    }

    .about {
        display: grid;

    }

    .team {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 100%;
        width:1200px;
    }

    .team h2 {
        flex-basis: 100%;
        order:-1;
    }

    .johntxt {
        height: auto;
        flex: auto;
        flex-basis: 50%;
        order:4;
 
    }

    .bobtxt {
        height: auto;
        flex: auto;
        flex-basis: 50%;
        order: 2;
    }

    .john {
        height: auto;
        flex-basis: 50%;
        flex: auto;
        order:1;
    
    }

    .bob {
        height: auto;
        flex-basis: 50%;
        flex: auto;
        order: 3;
    }

    .services {
        display: grid;
        justify-content: center;
        height: auto;
        width: auto;
        grid-gap: 10px;
        padding: 10px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "g1 g1 g1 g1 g1 g1"
            "d1 d1 d1 d2 d2 d2"
            "d3 d3 d4 d4 d5 d5";

    }

    .services h2 {
        grid-area: g1;
    }

    .digital {
        width: auto;
        height: auto;
        grid-area: d1;
    }

    .marketing {
        width: auto;
        height: auto;
        grid-area: d2;
    }

    .video {
        width: auto;
        height: auto;
        grid-area: d3;
    }

    .web {
        width: auto;
        height: auto;
        grid-area: d4;
    }

    .print {
        width: auto;
        height: auto;
        grid-area: d5;
    }
    .contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .contact .hours {
        flex-basis: 100%;
        order: 1;
    }
    .contact h2 {
        flex-basis: 100%;
        order: -1;
    }
    .contact .location {
        flex: auto;
        height: min-content;

    }
    .contact .form {
      flex: auto;
    }
}